@model CustomerPageIndexViewModel

<h1>Customers List</h1>
<h3 id="equation">2 + 2 = @(2 + 2)</h3>
@foreach(var customer in Model.Customers)
{
    <div>
        <dl>
            <dt><label asp-for="FirstCustomer.FirstName"></label>: </dt>
            <dd>@customer.FirstName</dd>
            <dt><label asp-for="FirstCustomer.LastName"></label>: </dt>
            <dd>@customer.LastName</dd>
            <dt><label asp-for="FirstCustomer.Email"></label>: </dt>
            <dd>@customer.Email</dd>
            <a asp-controller="CustomerPage" asp-action="Edit" asp-route-id="@customer.Id">Edit</a>
        </dl>
    </div>
}
</div>
<script src="~/scripts/index.js"></script>